Starter file for Project 1 - need to load in Spotify CSV!

In [8]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [9]:
csv_path = Path("Resources/spotify-2023.csv")

spotify_df = pd.read_csv(csv_path, encoding='iso-8859-1')

#Basic Dataframe with all information
spotify_df.head()

,track_name,Artist Name 1,Artist Name 2,Artist Name 3,Artist Name 4,Artist Name 5,Artist Name 6,Artist Name 7,Artist Name 8,artist_count,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),Latto,Jung Kook,NaN,NaN,NaN,NaN,NaN,NaN,2,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,144,A,Minor,65,23,80,14,63,11,6

In [47]:
#Breakdown of columns and verification of null entries. None found.
spotify_df['track_name'] = spotify_df['track_name'].astype("string")
spotify_df['Artist Name 1'] = spotify_df['Artist Name 1'].astype("string")
spotify_df['Artist Name 2'] = spotify_df['Artist Name 2'].astype("string")
spotify_df['Artist Name 3'] = spotify_df['Artist Name 3'].astype("string")
spotify_df['Artist Name 4'] = spotify_df['Artist Name 4'].astype("string")
spotify_df['Artist Name 5'] = spotify_df['Artist Name 5'].astype("string")
spotify_df['Artist Name 6'] = spotify_df['Artist Name 6'].astype("string")
spotify_df['Artist Name 7'] = spotify_df['Artist Name 7'].astype("string")
spotify_df['Artist Name 8'] = spotify_df['Artist Name 8'].astype("string")

spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    string
 1   Artist Name 1         953 non-null    string
 2   Artist Name 2         367 non-null    string
 3   Artist Name 3         111 non-null    string
 4   Artist Name 4         27 non-null     string
 5   Artist Name 5         12 non-null     string
 6   Artist Name 6         7 non-null      string
 7   Artist Name 7         4 non-null      string
 8   Artist Name 8         2 non-null      string
 9   artist_count          953 non-null    int64
 10  released_year         953 non-null    int64
 11  released_month        953 non-null    int64
 12  released_day          953 non-null    int64
 13  in_spotify_playlists  953 non-null    int64
 14  in_spotify_charts     953 non-null    int64
 15  streams               953 non-null    object
 16  in_apple_playlists    953 non-null    int64
 17  in_apple_charts       953 non-null    int64
 18  in_deezer_playlists   953 non-null    object
 19  in_deezer_charts      953 non-null    int64
 20  in_shazam_charts      903 non-null    object
 21  bpm                   953 non-null    int64
 22  key                   858 non-null    object
 23  mode                  953 non-null    object
 24  danceability_%        953 non-null    int64
 25  valence_%             953 non-null    int64
 26  energy_%              953 non-null    int64
 27  acousticness_%        953 non-null    int64
 28  instrumentalness_%    953 non-null    int64
 29  liveness_%            953 non-null    int64
 30  speechiness_%         953 non-null    int64
dtypes: int64(17), object(5), string(9)
memory usage: 230.9+ KB

In [4]:
#General idea of unique entries per column - some interesting baseline data to start exploring.
spotify_df.nunique()

track_name              941
Artist Name 1           458
Artist Name 2           244
Artist Name 3            99
Artist Name 4            27
Artist Name 5            12
Artist Name 6             7
Artist Name 7             4
Artist Name 8             2
artist_count              8
released_year            50
released_month           12
released_day             31
in_spotify_playlists    879
in_spotify_charts        82
streams                 949
in_apple_playlists      234
in_apple_charts         172
in_deezer_playlists     348
in_deezer_charts         34
in_shazam_charts        198
bpm                     124
key                      11
mode                      2
danceability_%           72
valence_%                94
energy_%                 80
acousticness_%           98
instrumentalness_%       39
liveness_%               68
speechiness_%            48
dtype: int64

In [46]:
playlists = spotify_df[["track_name", "streams", "in_spotify_playlists", "in_apple_playlists", "in_deezer_playlists"]]

playlists

,track_name,streams,in_spotify_playlists,in_apple_playlists,in_deezer_playlists
0,Seven (feat. Latto) (Explicit Ver.),141381703,553,43,45
1,LALA,133716286,1474,48,58
2,vampire,140003974,1397,94,91
3,Cruel Summer,800840817,7858,116,125
4,WHERE SHE GOES,303236322,3133,84,87
...,...,...,...,...,...
948,My Mind & Me,91473363,953,61,37
949,Bigger Than The Whole Sky,121871870,1180,4,8
950,A Veces (feat. Feid),73513683,573,2,7
951,En La De Ella,133895612,1320,29,17
952,Alone,96007391,782,27,32

In [49]:
charts = spotify_df[["track_name", "streams", "in_spotify_charts", "in_apple_charts", "in_deezer_charts", "in_shazam_charts"]]
charts

,track_name,streams,in_spotify_charts,in_apple_charts,in_deezer_charts,in_shazam_charts
0,Seven (feat. Latto) (Explicit Ver.),141381703,147,263,10,826
1,LALA,133716286,48,126,14,382
2,vampire,140003974,113,207,14,949
3,Cruel Summer,800840817,100,207,12,548
4,WHERE SHE GOES,303236322,50,133,15,425
...,...,...,...,...,...,...
948,My Mind & Me,91473363,0,13,1,0
949,Bigger Than The Whole Sky,121871870,0,0,0,0
950,A Veces (feat. Feid),73513683,0,0,0,0
951,En La De Ella,133895612,0,26,0,0
952,Alone,96007391,2,18,1,0